@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
    min-width: 360px !important;
}
@layer components {
    .product-container:hover .product-description {
        @apply translate-x-0;
    }
    .h-header {
        height: calc(100vh - 80px);
    }
    .header-link {
        @apply 
        flex
        flex-col
        w-full
        h-full
        justify-center
        items-center
        p-3
        text-gray-100
        font-semibold
        rounded-md
    }
    .width-48 {
        width: 48%;
    }
    .btn {
        @apply inline-flex
        items-center
        px-4
        py-2
        border 
        border-transparent
        rounded-md
        font-extrabold
        text-base
        text-white
        uppercase
        tracking-widest
        focus:outline-none
        focus:ring
        disabled:opacity-25
    }

    .btn-add {
        @apply bg-green-500
        hover:bg-green-700
        focus:ring-green-400
        px-4
    }
    .btn-sub {
        @apply bg-red-500
        hover:bg-red-700
        focus:ring-red-400
        px-4
    }
}
