@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
    min-width: 360px !important;
}
* {
    scrollbar-color: rgb(129, 140, 248) rgb(165, 180, 252);
    scrollbar-width: thin;
}
div {
    scrollbar-color: rgb(79, 70, 229) transparent;
}

div::-webkit-scrollbar-track-piece {
    /* border-radius: 10px; */
}
*::-webkit-scrollbar {
    width: 10px;
}
div::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}


.dashboard-cards-header::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 100%;
    left: 0;
    border-radius: .375rem .375rem 0 0;
}


div::-webkit-scrollbar-track-piece  {
    background-color: transparent;
}
html::-webkit-scrollbar-track-piece:vertical {
    background-color:rgb(165, 180, 252);
}
html::-webkit-scrollbar-thumb:vertical {
    background-color:rgb(165, 180, 252);
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(79, 70, 229);
    border-radius: 5px;
}


@layer components {
    .product-container:hover .product-description {
        @apply translate-x-0;
    }
    .h-header {
        height: calc(100vh - 80px);
    }
    .bubble-animation {
        
        @apply
        transition-all
        top-0
        left-0
    }
    .bubble-animation.login {
        clip-path: circle(200%);
        @apply
        bg-gradient-to-br
        from-red-200
        to-red-400
    }
    .bubble-animation.register {
        
        clip-path: circle(200%);
        @apply
        bg-gradient-to-br
        from-indigo-200
        to-indigo-400
    }
    .bubble-animation.login.hide {
        clip-path: circle(7vh at 0 100%);
    }
    .bubble-animation.register.hide {
        
        clip-path: circle(7vh at 100% 0);
    }
    .header-link {
        @apply 
        flex
        flex-col
        w-full
        h-full
        justify-center
        items-center
        p-3
        text-gray-100
        font-semibold
        rounded-md
    }
    .width-48 {
        width: 48%;
    }
    .btn {
        @apply inline-flex
        items-center
        px-4
        py-2
        border 
        border-transparent
        rounded-md
        font-extrabold
        text-base
        text-white
        uppercase
        tracking-widest
        focus:outline-none
        focus:ring
        disabled:opacity-25
    }

    .btn-add {
        @apply bg-green-500
        hover:bg-green-700
        focus:ring-green-400
        px-4
    }
    .btn-sub {
        @apply bg-red-500
        hover:bg-red-700
        focus:ring-red-400
        px-4
    }
}
